h1{
    margin-top: 10%;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo{
    text-align: center;
    padding-top: 3%;
}

.cadastro{
    padding-top: 1%;
}

.btnNovoAluno{
    padding-top: 2%;
    padding-left: 2%;
    font-size: small;
}

h4{
    padding-left: 1%;
}