h1{
    margin-top: 10%;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo{
    text-align: left;
    padding-bottom: 1%;
}

.cadastro{
    padding-top: 1%;
}