body{
    border: 20px solid black;
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
}

h1{
    margin-top: 10px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo{
    text-align: left;
    padding-bottom: 1%;
}

.cadastro{
    padding-top: 1%;
}

.btnNovoAluno{
    padding-top: 2%;
    padding-left: 2%;
    font-size: small;
}

.container{
    text-align: justify;
}

.imagens{

    text-align: center;
    
}